body{
	background-image: url(../img/school_safety/bg.png);
    background-size: cover;
    overflow: scroll;
}
#information{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: auto;
	min-height: 91vh;
	overflow: hidden;
}
#footer{
	position: relative;
}
.main-title{
    position: relative;
	height: 20vh;
    width: 100%;
    max-height: 200px;
}
.bird{
	z-index: 1000;
    position: absolute;
    display: inline-block;
    height: 90%;
    width: 40%;
    left: 10%;
    bottom: -10%;
	background-image: url(../img/catalog_3_rev.png);
	background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
}
.custom-title{
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 3%;
    color: #fcdc72;
    display: inline-block;
    text-align: center;
    line-height: 6vh;
    font-size: 5.4vh;
    letter-spacing: 1.2vh;
    margin-bottom: 2vh;
}
.main-content{
	z-index: 900;
    position: relative;
    width: 64%;
    height: auto;
    background-color: #f1edec;
    opacity: 0.92;
    margin-left: 18%;
    margin-top: 1vh;
    padding: 7vh 1vw;
    border-radius: 15px;
}
.sub-content{
    position: relative;
    width: 64%;
    height: auto;
    margin-left: 18%;
    margin-top: 1vh;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 7vh 1vw;
}
.title{
	padding: 2vh 6vw;
	padding-top: 6vh;
	padding-right: 0px;
	color: #ba3f46;
	line-height: 4.3vh;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	font-size: 3.2vh;
	letter-spacing: 0.5vh;
}
.context{
	padding: 1vh 5vw;
	/*padding-right: 0px;*/
	color: #7a7a7c;
	line-height: 5vh;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	height: auto;
	font-size: 2.4vh;
	margin: 0.5vh 0px;
	letter-spacing: 0.5vh;
}
.context.top{
	padding: 1vh 6vw;
}
.sub-content .title{
	padding: 1vh 4.8vw;
}
.p_br{
	width: 100%; 
	height: 1vh; 
	margin: 0px;
}
@media only screen and (orientation:portrait) {
	.main-content{
        width: 80%;
        margin-left: 10%;
        padding: 2vh 1vw;
    }
    .sub-content{
        width: 80%;
        margin-left: 10%;
        height: auto;
        padding: 2vh 1vw;
    }

	
}
@media only screen and (max-width: 1024px) {
	#information{
		min-height: 88.4vh;
	}
}
@media only screen and (max-width: 1024px) {
	.title{
		line-height: 3vh;
		font-size: 2.6vh;
		letter-spacing: 0.20vh;
    }
    .custom-title{
        line-height: 5vh;
        font-size: 4vh;
    }
	.context{
		line-height: 4vh;
		font-size: 1.7vh;
		letter-spacing: 0.20vh;
	}
	.top-margin{
		line-height: 1.2vh;
	}
}
@media only screen and (max-width: 510px) {
	.title{
		font-size: 2vh;
		letter-spacing: 0.10vh;
    }
    .custom-title{
        font-size: 3vh;
    }
	.context{
		font-size: 1.4vh;
		line-height: 3vh;
		letter-spacing: 0.10vh;
    }
    .p_br{
    	line-height: 0.5vh;
    }
}
