body{
	background-image: url(../img/song/song_bg.png);
	background-size: cover;
	overflow: scroll;
}
.info{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0.92;
	box-shadow: 1px;
	border-radius: 15px;
	min-height: 91vh;
}
.title{
	padding: 4vh 6vw; 
	color: #ba3f46;
	line-height: 4vh;
	text-align: center;
	width: 100%;
	font-size: 3.2vh;
	letter-spacing: 0.25vh;
}
.rabaren{
	display: inline-block;
	margin-top: 0px;
	height: 90%;
	width: 20%;
	background-image: url(../img/song/校歌圖案.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.content{
	display: inline-block;
	vertical-align: top;
	margin-top: 10vh;
	width: 70%;
}
.context{
	display: inline-block;
	padding: 2vh 6vw;
	padding-bottom: 10vh;
	/*margin-bottom: 20px;*/
	color: #7a7a7c;
	line-height: 3vh;
	text-align: left;
	width: 100%;
	font-size: 2vh;
	letter-spacing: 0.3vh;
}
@media only screen and (max-width: 1024px) {
	.info{
		min-height: 88.4vh;
	}
}
@media only screen and (orientation:portrait) {
	#footer{
		position: relative;
	}
	.info{
		height: auto;
	}
	.rabaren{
		height: 400px;
		width: 100%;
	}
	.content{
		margin-top: 0px;
		width: 90%;
	}
	body{
		padding-top: 5vh;
	}
}
@media only screen and (max-width: 800px){
	.rabaren{
		height: 200px;
	}
	.context{
		line-height: 2.5vh;
		font-size: 1.4vh;
	}
}