@media only screen and (max-width: 1100px) {
	.catalog_item > span, .modal-img > span{
        font-size: 20px;
    }
    .catalog_item > img{
        transform: scale(0.8);
    }
    .catalog_item > img:hover{
        -webkit-transform: scale(1.0);
    }
}
@media (orientation:portrait) {
	.catalog_item  img{
		margin-left: 4vw;
	}
	#catalog_item_0  span{
		left: calc(1vw + 28vh);
		top: calc(20% + 18vh);
	}
	#catalog_item_1  span{
		left: calc(3vw + 18vh);
		top: calc(10% + 6vh);
		letter-spacing: 2px;
	}
	#catalog_item_2  span{
		left: calc(8vw);
		top: calc(10% + 33vh);
	}
	#catalog_item_3  span{
		left: calc(0vw + 10vh);
		top: calc(10% + 13vh);
	}
	#catalog_item_4  span{
		left: calc(10vw + 2vh);
		top: calc(10% + 10vh);
	}
	#catalog_item_5  span{
		left: calc(12vw);
		top: calc(10% + 14vh);
	}
	#catalog_item_6  span{
		left: calc(20vw + 2vh);
		top: calc(10% + 9vh);
	}
	#catalog_item_0  img{
		/* -webkit-transform: scale(1.6) translateY(10%) translateX(4vw); */
		height: 80%;
		top: 30%;
		left: -5%;
	}
	#catalog_item_5  img{
	/* -webkit-transform: scale(1.6) translateY(2%) translateX(8vw); */
		height: 120%;
		top: -10%;
		left: 40%;
	}
}
@media only screen and (max-width: 1024px) {
	#footer{
		padding: 1vh 0px;
		height: 15vh;
		font-size:11px;
		padding: 3vh;
	}
	#footer > span{
		width: 100%;
		height: 3.2vh;
		line-height: 3vh;
	}
	.map_icon{
		margin: 4vw;
	}
}
/*@media only screen and (max-width: 800px) {
	#footer{
		font-size:9px;
	}
}*/
/*700切換*/
@media only screen and (max-height: 700px) {
	#footer{
		font-size:7px;
	}

}
/**/
@media only screen and (max-width: 700px) {
	/*change index nav*/
	#catalog{
		display: none;
	}
	#map_bg{
		display: block;
    }
    /*change modal*/
    .pop-up-modal.two{
    	height: 80vh;
    	margin: 8vh auto;
    	line-height: 1vh;
    }

    .modal-img.right{
		margin-top: 10vh;
    }
    .modal-img{
    	height: 30vh;
		width: 64vw;
    }

}