@font-face {
	font-family: "PingFang";
	/*src: url("CustomFont.eot");
	src: url("CustomFont.woff") format("woff"),*/
	src: url("../fonts/PingFang-TC-Semibold-2.otf") format("opentype");
	/*url("CustomFont.svg#filename") format("svg");*/
}
html, body{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	overflow: hidden;
	font-family: "PingFang";
}
a{
	text-decoration: none!important;
	width: 100%;
	height: 100%;
}
a:link{
  text-decoration: none!important;
}
#map_icon{
	width: 10vh;
	height: auto;
	position: fixed;
	right: 0px;
	top: 0px;
	cursor: pointer;
	-webkit-transition: all .6s ease;
}
#map_icon:hover{
	-webkit-transform: scale(1.2);
	-webkit-transition: all .6s ease;
}
#footer{
	z-index: 1;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 9vh;
	background-color: #292827;
	border: 0px;
	margin: 0px;
	padding: 0px;
	letter-spacing: 3px;
	color: #e2d4ce;
	font-size:16px;
}
#footer > span{
	border: 0px;
	padding: 0px;
	position: relative;
	width: 32.5%;
	height: 9vh;
	line-height: 9vh;
	margin:0 auto;
	display: inline-block;
	text-align: center;
	
}
@media only screen and (max-width: 1024px) {
	#footer{
		padding: 1vh 0px;
		height: 11.6vh;
		font-size:12px;
	}
	#footer > span{
		width: 100%;
		height: 3.2vh;
		line-height: 3.2vh;
	}
}
@media only screen and (max-height: 768px) {
	#footer{
		font-size:9px;
	}
}
#map_bg{
	z-index: 1000;
	position: relative;
	background-image: url(../img/map_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	margin-left: 100%;
	display: none;
}
#map_body{
	position: relative;
	padding: 0px;
	margin: auto;
	border: 0px;
	height: 100vh;
	width: 56.25vh;
	
}
#map_body img{
	object-fit: cover;
	height: 100%;
	width:100%;
}
/*.map_items_container{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0px;
	padding: 0px;
}*/
.map_item{
	position: absolute;
	cursor: pointer;
	z-index: 100;
	-webkit-transition: all .6s ease;
	-webkit-transform: scale(1.35);
}
.map_item-special{
	position: absolute;
	height: 22%;
	width: 40%;
	cursor: auto;
	z-index: 50;
	-webkit-transform: scale(1.35);
}

.map_item > img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.map_item-special > img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
#map_item_0{
	height: 12%;
	width: 35%;
	left: 6%;
	top: 8%;
}
#map_item_0 img{
	margin-top: 23%;
}
#map_item_1{
	height: 12%;
	width: 12%;
	left: 50%;
	top: 38%;
	
}
#map_item_2{
	height: 15%;
	width: 28%;
	left:14%;
	top:78%;
}
#map_item_3{
	height: 9%;
	width: 12%;
	left: 8%;
	top: 60%;
}
#map_item_3 img{
	margin-top: 35%;
}
#map_item_4{
	height: 11%;
	width: 20%;
	left: 73%;
	top: 22%;
}
#map_item_5{
	height: 15%;
	width: 15%;
	left: 68%;
	top: 55%;
}
#map_item_6{
	height: 10%;
	width: 30%;
	left: 60%;
	top: 1%;
}
#map_item_6 img{
	margin-top: 25%;
}
#map_item_7{
	height: 7%;
	width: 10%;
	left: 9%;
	top: 45%;
}
#map_item_8{
	height: 9%;
	width: 10%;
	left: 6%;
	top: 31%;
}
#map_item_moon{
	left:60%;
	top:78%;
}
#map_item_car{
	left: 35%;
	top: 58%;
}
.map_item:hover{
	-webkit-transform: scale(1.5);
	-webkit-transition: all .6s ease;
}
#map_item_0 span{
	left:25%;
	top:0%;	
}
#map_item_1 span{
	left: 115%;
	top: 34%;
}
#map_item_2 span{
	left: -8%;
	top: 85%;
}
#map_item_3 span{
	left: -12%;
	top: 0%;
	/*-webkit-transform: scale(1.2);*/
}
#map_item_4 span{
	left: -64%;
	top: 45%;
	
}
#map_item_5 span{
	left: 35%;
	top: 103%;
	
}
#map_item_6 span{
	left: 46%;
	top: 17%;
}
.map_item span{
	position: absolute;
	width: 100px;
	font-size: 1.2vh;
	color: #7a7a7c;
	letter-spacing: 0.3vh;
	-webkit-transition: all .6s ease;
}
.map_item:hover span{
	color: #eb9387;
	-webkit-transition: all .6s ease;
}

#catalog{
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url(../img/catalog_bg.png);
	left: 100%;
	background-position-x: 0%;
	overflow: hidden;
}
.catalog_item{
	display: inline-block;
	position: relative;
	padding: 0px;
	margin: 0px;
	border: 0px;
	height: 30vh;
	width: 48%;
	

}
.catalog_item > img{
	cursor: pointer;
	object-fit: contain;
	width: auto;
	height: 100%;
	position: relative;
	margin-left: 10vw;	
}
.catalog_item > span{
	position: absolute;
	width: 300px;
	font-size: 30px;
	color: #7a7a7c;
	left: calc(14vw + 30vh);
	top: calc(10% + 24vh);
	letter-spacing: 6px;
	-webkit-transition: all .6s ease;
}
.catalog_item:hover > span{
	color: #eb9387;
	-webkit-transition: all .6s ease;
}
.middle{
	width: 30%;
}


#catalog_item_0 > img{
	-webkit-transform: scale(1.6) translateY(10%) translateX(4vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_1 > img{
	-webkit-transform: scale(1.6) translateY(10%) translateX(-2vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_2 > img{
	-webkit-transform: scale(1.6) translateY(10%) translateX(0vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_3 > img{
	-webkit-transform: scale(1.6) translateY(5%) translateX(2vw);
	-webkit-transition: all .6s ease;
	cursor: auto;
}
#catalog_item_4 > img{
	-webkit-transform: scale(1.6) translateY(-10%) translateX(2vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_5 > img{
	-webkit-transform: scale(1.6) translateY(2%) translateX(8vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_6 > img{
	-webkit-transform: scale(1.6) translateY(-2%) translateX(0vw);
	-webkit-transition: all .6s ease;
}
/*hover animate*/
#catalog_item_0 > img:hover{
	-webkit-transform: scale(1.8) translateY(10%) translateX(4vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_1 > img:hover{
	-webkit-transform: scale(1.8) translateY(10%) translateX(-2vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_2 > img:hover{
	-webkit-transform: scale(1.8) translateY(10%) translateX(0vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_3 > img:hover{
	-webkit-transform: scale(1.8) translateY(5%) translateX(2vw);
	-webkit-transition: all .6s ease;
	cursor: auto;
}
#catalog_item_4 > img:hover{
	-webkit-transform: scale(1.8) translateY(-10%) translateX(2vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_5 > img:hover{
	-webkit-transform: scale(1.8) translateY(2%) translateX(8vw);
	-webkit-transition: all .6s ease;
}
#catalog_item_6 > img:hover{
	-webkit-transform: scale(1.8) translateY(-2%) translateX(0vw);
	-webkit-transition: all .6s ease;
}



#catalog_item_0 > span{
	left: calc(14vw + 30vh);
	top: calc(10% + 24vh);
}
#catalog_item_1 > span{
	left: calc(6vw + 28vh);
	top: calc(10% + 11vh);
	letter-spacing: 2px;
}
#catalog_item_2 > span{
	left: calc(3vw);
	top: calc(10% + 27vh);
}
#catalog_item_4 > span{
	left: calc(14vw + 2vh);
	top: calc(10% + 22vh);
}
#catalog_item_5 > span{
	left: calc(14vw);
	top: calc(10% + 24vh);
}
#catalog_item_6 > span{
	left: calc(14vw - 2vh);
	top: calc(10% + 25vh);
}
@media only screen and (max-width: 700px) {
	#catalog{
		display: none;
	}
	#map_bg{
		display: block;
	}
}

/*modal*/
.pop-up-modal{
	height: 60vh;
	width: 70vw;
	margin: 15vh auto;
	border-radius: 10px;
	overflow: hidden;
}
.modal-dialog{
	max-width: none;

}
.modal-body{
	letter-spacing: 0px;
	padding: 5vh 2vw;
	padding-bottom: 1vh;
	background-color: #F1EDEC;
}
.modal-img{
	display: inline-block;
	position: relative;
	height: 54vh;
	width: 32vw;
	cursor: pointer;
}
.modal-img > img{
	position: relative;
	display: inline-block;
	height: 80%;
	width: 100%;
	margin: 0px;
	object-fit: contain;
}
.modal-img > span{
	height: 20%;
	width: 100%;
	display: inline-block;
	vertical-align: center;
	line-height: 10vh;
	margin: auto;
	text-align: center;
	font-size: 30px;
	color: #7a7a7c;
	letter-spacing: 6px;
	-webkit-transition: all .6s ease;
}
.modal-img:hover > span{
	color: #eb9387;
	-webkit-transition: all .6s ease;
}
